/* Introdução main */

.intruducao-bg {
    background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
    color: var(--cor-0);
    box-shadow: inset 0px -120px var(--cor-0);
}

.intruducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}


.intruducao img {
    width: 100%;
    height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.intruducao h1 {
    margin-bottom: 32px;
}

.intruducao p {
    margin-bottom: 20px;
}

/* responsivo introdução */



@media (max-width: 800px){
    .intruducao-bg {
        background: var(--cor-12);
        padding-top: 40px;
        box-shadow: inset 0px -60px var(--cor-0);
    }
    .intruducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo {
        padding-bottom: 0px;
    }
    .intruducao h1 {
        margin-bottom: 16px;
    }
    .intruducao img {
        height: 300px;
        width: 100%;
    }
}
